$def with (is_working,page,category,search_data)

<html>
<head>
	<title>amazon tool</title>
</head>
<body>

$if is_working == 1:
	in Searching <form  method="POST"><input type="hidden" name="stop" value="true" /><input type="submit" value="stop"/></form>
$elif is_working == 0:
	<form method="POST">
		country:
		<select name="country" value="jp">
			<option value="jp">jp</option>
			<option value="us">us</option>
			<option value="cn">cn</option>
			<option value="uk">uk</option>
			<option value="fr">fr</option>
			<option value="de">de</option>
			<option value="es">es</option>
			<option value="it">it</option>
		</select>
		keyword:
		<input name="keyword" />
		<input type="submit" />
	</form>
	<br />
	<form  method="POST"><input type="hidden" name="output" value="true" /><input type="submit" value="output"/></form>
$else:
	<form method="POST">
		catecory:
		<select name="category" value="CANCEL">
			$:category
		</select>
		<input type="submit"/>
	</form>
<br />
$page results
<br />
page:
$for i in range(int(page/100)+1):
	<a href="/$(i+1)">$(i+1)</a>

<br />
<table  border="1">
	<tr><th>ASIN</th><th>TITLE</th><th>WEIGHT</th>
		<th>CN</th>
		<th>JP</th>
		<th>US</th>
		<th>UK</th>
		<th>FR</th>
		<th>DE</th>
		<th>ES</th>
		<th>IT</th>
		<th>JP-MinPrice</th>
	$:search_data
</table>
</body>
</html>
