$def with (is_working,page,category,search_data)

$if is_working == 1:
	in Searching <form><input type="hidden" name="stop" value="true" /><input type="submit" value="stop"/></form>
$elif is_working == 0:
	<form method="POST">
		country:
		<select name="country" value="jp">
			<option value="jp">jp</option>
			<option value="us">us</option>
			<option value="cn">cn</option>
			<option value="uk">uk</option>
			<option value="fr">fr</option>
			<option value="de">de</option>
			<option value="es">es</option>
			<option value="it">it</option>
		</select>
		keyword:
		<input name="keyword" />
		<input type="submit" />
	</form>
$else:
	<form method="POST">
		catecory:
		<select name="category" value="CANCEL">
			$:category
		</select>
		<input type="submit"/>
	</form>
<br />
page:
$for i in range(page):
	<a href="/$i">$i</a>

<table>
	$:search_data
</table>
